body {
    background-color: black;
}

.container {
    min-height: 100vh;
    background-image: radial-gradient(#1635fe9a 55%, black 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% !important;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 12px;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.bg-success, .bg-danger {
    color: white;
}

.bg-success-text {
    color: #198754 !important;
    ;
}

.bg-danger-text {
    color: red;
}

.d-none {
    display: none;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.card-body-to-hover:hover {
    background-color: black !important;
    color: white;
    cursor: pointer;
}

.explanation-text {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    align-items: center;
    font-size: 1.25rem !important;
}

.font-size {
    font-size: 1.5rem !important;
}

.card-body-border {
    border-top: 1px black solid;
}

.pointer-none {
    pointer-events: none !important;
}